ErrorDocument 404 https://lamp.computerstudi.es/~Christopher100051457/comp1054/assignment4/404.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule \.php$ https://lamp.computerstudi.es/~Christopher100051457/comp1054/assignment4/404.php [L]