@font-face {
	font-family: "kingThings";
	src: url("../fonts/kingThings.ttf");
}

@font-face {
	font-family: "loveCha";
	src: url("../fonts/loveCha.ttf");
}

@font-face {
	font-family: "p5Hatty";
	src: url("../fonts/p5Hatty.ttf");
}

@font-face {
	font-family: "valentineStyle";
	src: url("../fonts/valentineStyle.ttf");
}

@font-face {
	font-family: "arcadeClassic";
	src: url("../fonts/arcadeClassic.TTF");
}



table {
	border: 1px solid;
}

td {
	border: 0.5px dashed;
}

.thumbnail {
	height: 250px;
}

header {
	background-color: #F25D5D;
	list-style-type: none;
	display: grid;
	grid-template-columns: 125px 1fr 130px;
	grid-template-rows: 135px;
	gap:5px;
	border-bottom: 4px solid white;
}

h1 {
	font-family: "valentineStyle", Impact;
	font-size: 72px;
	margin: 0px;
	font-weight: normal;
	
}

nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav > a {
	display: block;
	font-family: "valentineStyle", Impact;
	font-size: 36px;
	padding: 25px;
	border: 1px solid white;
	background-color: #F25D5D;
}

a {
	outline-color: transparent;
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:focus {
	background-color: #7B5DF2;
}

a:hover {
	background-color: #7B5DF2;
}

a:active {
	color: white;
	background-color: #dd191d;
}




footer {
	background-color: #00A676;
	height: 100px;
}

img[src="images/user-image.png"] {
	margin-top: 3px;
}
